/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.crontest.log
.terraform\providers\registry.terraform.io\hashicorp\aws\4.57.1\windows_amd64\terraform-provider-aws_v4.57.1_x5.exe
.terraform.lock.hcl
tfplan.txt